<html>
  <head>
    <title>Testing {{WPID}} with new Pvjs</title>
    <link href="/newPvjs/style.css" type="text/css" />
    <script src="/newPvjs/index.js"></script>
    <script
      src="http://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"></script>
  </head>
  <body>
    <h1>Testing {{WPID}} with new Pvjs</h1>
    <div id="time"></div>
    <div id="pathway"></div>
    <script>
      $(document).ready(function() {
          window.totalTime = 0;
          const time = $('#time');
          const numTests = 5;

          time.append(`<p>Running ${numTests} tests...</p>`);
          const allPromises = [];

          for(let i = 0; i < numTests; i++) {
              // clear the diagram
              $('#pathway').empty();
              const test = runTest();
              test.then(elapsed => {
                  window.totalTime += elapsed;
                  time.append(`<p>Time taken for test ${i} was ${elapsed} ms.`)
              });
              allPromises.push(test);
          }

          Promise.all(allPromises).then(() => {
            time.append(`<p>Total time to run all tests was ${window.totalTime} ms`);
            time.append(`<p>Average time to run all tests was ${window.totalTime / numTests} ms`);
          });
      });

      function runTest() {
          return new Promise((resolve, reject) => {
            const t0 = performance.now();
            Pvjs.loadDiagram('#pathway', 'WP' + {{WPID}}, {}, (instance) => {
              instance.ready.subscribe(ready => {
                if(!ready) return;
                const t1 = performance.now();
                const elapsed = t1 - t0;
                resolve(elapsed);
              });
            });
          });
      }
    </script>
  </body>
</html>
